<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProiectPbd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-white text-center d-flex h-100">
    <div class="container d-flex p-3 mx-auto flex-column">
        <header>
            <h3 class="float-left">Evidență studenți</h3>
            <nav class="nav justify-content-center float-right">
                <a class="nav-link active" asp-action="Catalog">Catalog</a>
                <a class="nav-link active" asp-action="Procentaje">Procentaje</a>
                <a class="nav-link active" asp-action="Raport">Raport</a>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="mx-auto">
            <p>&copy; 2020-2021</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
